td {
    border-bottom: 2px dotted black;
    text-align: right;
    padding: 3px;
    font-weight: 700;
}

.myBtn {
    display: none;
}

img {
    width: 100px;
    margin: 100px 15px;
    display: none;
}

.img-appear {
    display: block;
}